
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  background-image: radial-gradient($color-grey-light-2, $color-grey-dark-1);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.body {
  display: flex;
  flex-direction: column;
  background-color: rgba($color-grey-dark-3, .25);
}

img {

}

.wrapper {
  max-width: 120rem;

  @mixin atMedium {
    margin: 3rem auto;
  }
}

.row {border-bottom: 1px solid black;
  display: flex;
  width: 100%;
  min-height: 5rem;
}
