
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  background-image: radial-gradient($color-grey-light-2, $color-grey-dark-1);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.body { height: 10rem;
  display: flex;
  flex-direction: column;
  background-color: $color-grey-dark-3;

}

img {

}

.wrapper {
  max-width: 120rem;

  @mixin atMedium {
    margin: 3rem auto;
  }
}
