

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #c7c7c7;
$color-grey-light-3: #888;

$color-grey-dark-1: #414141;
$color-grey-dark-2: #2f2f2f;
$color-grey-dark-3: #111;

$color-white: #fefefe;
$color-black: #0e0c0c;

$bor-rad-lg: 3px;
$bor-rad-sm: 1px;

$font-heading:'alegreya', sans-serif;
$font-heading-weight: 300;
$font-heading-space: 1px;

$font-text:'lato', sans-serif;
$font-text-weight: 300;
$font-text-space: 1px;
$font-text-size: 1.8rem;

$font-link: sans-serif;
$font-link-weight: 300;
$font-link-space: 0px;


$indent: 2rem;

$transition: all .2s ease-in;