

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #888;

$color-grey-dark-1: #3a3a3a;
$color-grey-dark-2: #1a1a1a;
$color-grey-dark-3: #111;

$color-white: #fefefe;
$color-black: #0e0c0c;


$font-heading-default: 2.8rem/1.1 'Poiret One', sans-serif;
$font-sub-heading-default: 3rem/1.8 'Poiret One', sans-serif;

$font-panel-heading-default: 2.8rem/1.1 'Poiret One', sans-serif;
$font-panel-sub-heading-default: 2.2rem/1.1 'handlee', sans-serif;

$font-text-default: 1.8rem/1.4 'handlee', sans-serif;
$font-text-decorative: 2rem/1.4 'Sofia', sans-serif;
$font-text-decorative-sm: 1.6rem/1.4 'Sofia', sans-serif;

$indent: 2rem;

$transition-default: all .2s ease-in;