.coders {

  &__page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba($color-grey-dark-3, .5);
    padding: 3rem;
    color: $color-grey-light-2;
  }

  &__header-text-box {
    
    @mixin atSmall {
      max-width: 50rem;
    }
  }
  
  &__header-title {
    margin-bottom: 1rem;
    text-align: center;
  }
  
  &__header-text {
    margin-bottom: 1rem;
  }

  &__section {
    flex-direction: column;
    background-color: rgba($color-grey-dark-1, .25);

    @mixin atMedium {
      max-width: 60rem;
      margin-top: 2rem;
      border-radius: $bor-rad-lg;

      &:last-child {
        margin-bottom: 2rem;
      }
    }
  }

  &__sub-heading {
    border-top: 1px solid $color-black;
    margin-bottom: 1rem;
    padding: 3rem;
    color: $color-grey-light-1;
    line-height: 1.2;

    @mixin atMedium {
      max-width: 60rem;
      border-top: none;
    }
  }

  &__list {
    padding: 0 3rem 1.5rem;

    @mixin atMedium {
      max-width: 60rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: .8rem;
    padding: 0 2rem 1rem;
    border-radius: $bor-rad-lg;
    background-color: rgba($color-grey-dark-3, .5);
    color: $color-grey-light-1;
    font-family: $font-text;
    font-size: $font-text-size;
  }

  &__link {
    margin-bottom: .8rem;
    padding: 1rem 0;
    border-radius: 0 0 3px 3px;
    background-color: rgba($color-grey-light-1, .25);
    color: $color-grey-light-1;
    font-size: 2rem;
    text-align: center;

    &:hover {
      background-color: $color-grey-light-3;
      color: $color-grey-light-2;
    }
  }
}