.footer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-image: linear-gradient(to top, $color-grey-dark-3, $color-grey-dark-1);
  border-top: 1px solid black;

  &__section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;

    &--1 { 
  
    }

    &--2 { 

    }

    &--3 { 

    }
  }

  &__social {
    display: flex;
    margin-bottom: 1rem;
  }

  &__social-link {
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:last-child) {
      margin-right: 1.4rem;
    }
  }

  &__social-icon {
    height: 2.6rem;
    width: 2.6rem;
    fill: $color-grey-light-2;
  }

  &__nav {
    display: flex;
    margin-bottom: 1rem;
  }

  &__nav-link {
    color: $color-grey-light-2;
    font-size: 1.4rem;
    
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__copy {
    color: $color-grey-light-2;
    text-indent: 0px;
  }
}