.header {
  display: flex;

  &__nav {
    display: flex;
  }

  &__home-link {

  }

  &__logo {

  }
  
  &__nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__nav-icon {
    height: 2rem;
  }

  &__heading {
    
  }
}