.header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0 .4rem;
  background-image: linear-gradient(to bottom, $color-grey-dark-3, $color-grey-dark-1);

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  &__nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    color: $color-grey-light-2;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__nav-icon {
    height: 1.8rem;
    width: 1.8rem;
    margin-bottom: 4px;
    fill: $color-grey-light-2;
  }

  &__nav-span {
    font-family: $font-link;
    font-weight: $font-link-weight;
    letter-spacing: $font-link-space;
    font-size: 1rem;
  }

  &__heading {
    width: max-content;
    font-size: 3rem;
    color: $color-grey-light-2;
  }
}