.home-body {
  flex-direction: column;
}

.home-splash {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;

  @mixin atSmall {
    height: 25rem;
  }

  @mixin atMedium {
    height: 30rem;
  }

  @mixin atLarge {
    height: 45rem;
  }

  &__figure {
    width: 100%;
  }

  &__img {
    width: 100%;
  }
}

.cta {
  flex-direction: column;

  @mixin atLarge {
    flex-direction: row;
  }

  &__one {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: radial-gradient($color-grey-light-1, $color-grey-light-3);
    text-align: center;
    padding: 2rem 4rem;

    @mixin atLarge {
      flex: 1;
      justify-content: center;
    }
  }

  &__one-heading {
    margin-bottom: 1rem;
    color: $color-grey-dark-3;

    @mixin atLarge {
      margin-bottom: 3rem;
    }
  }

  &__one-text {
    color: $color-grey-dark-3;

    @mixin atSmall {
      max-width: 45rem;
    }
  }

  &__two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 4rem;
    background-image: radial-gradient($color-grey-light-3, $color-grey-dark-2);

    @mixin atLarge {
      width: 35rem;
    }
  }

  &__two-text {
    margin-bottom: 1rem;
    color: $color-grey-light-2;

    @mixin atSmall {
      max-width: 45rem;
    }
  }

  &__two-btn {
    background-color: $color-grey-dark-1;
    margin-top: 1rem;
    padding: 1rem;
    box-shadow: 0 0 2rem 0 $color-grey-light-1;
    color: $color-grey-light-2;
    font-size: $font-text-size;
    font-weight: $font-text-weight;

    transition: $transition;

    &:hover {
      letter-spacing: 2px;
    }
  }
}

.home-comp {
  flex-direction: column;
  padding: 3rem 6rem;

  &__heading {
    margin-bottom: 2rem;
    padding: 1.6rem 0;
    color: $color-grey-light-1;
    text-align: center;
    text-shadow: $shadow-text;
  }

  &__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @mixin atLarge {
      flex-direction: row;
      margin-bottom: 4rem;
    }
  }

  &__img-box {
    position: relative;
    overflow: hidden;
    height: 28rem;
    width: 100%;
    border-radius: $bor-rad-lg;
    border: 3px solid $color-grey-light-2;
    box-shadow: $shadow-lg;

    &:not(:last-child) {
      margin-bottom: 3rem;

      @mixin atLarge {
        margin-bottom: 0px;
      }
    }

    @mixin atSmall {
      height: 24rem;
      max-width: 40rem;
    }

    @mixin atMedium {
      height: 22rem;
      max-width: 36rem;
    }

    &--1 {

      @mixin atLarge {
        z-index: 1;
        transform: translate(2rem, 1rem);
      }
    }

    &--2 {
      @mixin atLarge {
        z-index: 2;
        transform: translateY(-1rem);
      }
    }

    &--3 {
      @mixin atLarge {
        z-index: 1;
        transform: translate(-2rem, 1rem);
      }
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    /*
    &--1 {

    }

    &--2 {

    }

    &--3 {
      
    }
    */
  }
}

.services {
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  color: $color-grey-light-1;

  @mixin atLarge {
    background-image: url('assets/images/bg/bg-body.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    -webkit-background-image: url('assets/images/bg/bg-body.jpg');
    -webkit-background-position: center;
    -webkit-background-size: cover;
    -webkit-background-repeat: no-repeat;
    -webkit-background-attachment: local;
  }
  
  &__heading {
    padding: 2rem 0;
    text-shadow: $shadow-text;
  }

  &__panels { 
    flex-direction: column;
    justify-content: space-evenly;
    
    display: flex;

    @mixin atLarge {
      flex-direction: row;
    }
  }
  
  &__panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    padding: 3rem;
    border-radius: $bor-rad-lg;
    background-image: radial-gradient(rgba($color-grey-light-3, .4), $color-grey-dark-2);

    @mixin atSmall {
      max-width: 35rem;
    }

    @mixin atLarge {
      width: 30%;
    }
  }

  &__panel-link {
    margin-bottom: 1rem;
  }

  &__panel-heading {
    margin-bottom: 1.6rem;
    color: $color-grey-light-2;

    &:hover {
      color: $color-grey-light-3;
    }
  }

  /*
  &__panel-text {

  }
  */
}

.pitch {
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  
  @mixin atLarge {
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    background-image: url('assets/images/bg/bg-pitch.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    -webkit-background-image: url('assets/images/bg/bg-pitch.jpg');
    -webkit-background-position: center;
    -webkit-background-size: cover;
    -webkit-background-repeat: no-repeat;
    -webkit-background-attachment: local;
  }

  &__panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 3rem;
    background-image: radial-gradient(rgba(254,254,254,0.25), #80dfff);
    border-radius: $bor-rad-lg;

    @mixin atSmall {
      max-width: 40rem;
    }
  }

  &__img-box {
    overflow: hidden;
    border-radius: $bor-rad-lg;
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__heading { 
    margin-top: -2.2rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: $bor-rad-sm;
    background-color: $color-grey-light-1;
    border: 1px solid #80dfff;
    color: $color-grey-dark-1;
  }

  &__text {
    margin-bottom: 1rem;
    color: $color-grey-dark-1;
  }
}

.features {
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  
  @mixin atLarge {
    background-image: url('assets/images/bg/bg-splash2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    -webkit-background-image: url('assets/images/bg/bg-splash2.jpg');
    -webkit-background-position: center;
    -webkit-background-size: cover;
    -webkit-background-repeat: no-repeat;
    -webkit-background-attachment: local;
  }

  &__img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    height: 15rem;

    @mixin atLarge {
      height: 12rem;
    }
  }

  &__img {
    height: 100%;
    object-fit: cover;
  }

  &__heading {
    padding: 1.6rem 0;
    color: $color-grey-light-1;
    text-shadow: $shadow-text;
  }
  
  &__panels {
    display: flex;
    flex-direction: column;

    @mixin atLarge {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  &__panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 3rem;
    background-image: radial-gradient(rgba(0,255,255,0.5), #60c);
    border-radius: $bor-rad-lg;

    @mixin atSmall {
      max-width: 40rem;
    }

    @mixin atLarge {
      width: 30%;
    }
  }
  
  &__panel-heading {
    width: 85%;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: $bor-rad-lg;
    background-color: rgb(124, 196, 238);
    box-shadow: 0 0 3rem 0 rgba(254,254,254,.75);
    color: $color-grey-light-1;
    text-align: center;
  }

  &__text {
    color: $color-grey-light-1;
  }
}