.home-splash {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta {
  flex-direction: column;

  &__one {
    display: flex;
    flex-direction: column;
  }

  &__one-heading {

  }

  &__one-text {

  }

  &__two {
    display: flex;
    flex-direction: column;
  }

  &__two-text {
    
  }

  &__two-btn {
    
  }
}

.home-gallery {
  flex-direction: column;
}

.services {
  flex-direction: column;

  &__heading {

  }

  &__panels {
    flex-direction: column;
    display: flex;
  }

  &__panel {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__panel-heading {
    
  }

  &__panel-text {
    
  }
}

.pitch {
  flex-direction: column;

  &__panel {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img-box {

  }

  &__img {

  }

  &__panel-heading {
    
  }

  &__panel-text {
    
  }
}

.features {
  flex-direction: column;

  &__img-box {

  }

  &__img {

  }

  &__heading {

  }

  &__panels {
    display: flex;
    flex-direction: column;
  }

  &__panel {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__panel-heading {
    
  }

  &__panel-text {
    
  }
}